		<label for="preg" class="rem">Pregunta:</label>
		<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
		<label for="resp" class="rem">Respuesta:</label>
		<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
		<label for="selectTema" class="rem">Tema:</label>
		<select name="quiz[ThemeId]" id="selectTema">
			<% for (var t in temas) { %>
			<option value="<%= temas[t].id %>"><%= temas[t].texto %></option>
			<% } %>
		</select>
		<script>document.getElementById("selectTema").value="<%= quiz.ThemeId %>"</script>
		<div display="block">
			<a href="/quizes"><button type="button" name="Cancelar">Cancelar</button></a>
			<input type="submit" value="Salvar" />
		</div>